@font-face {
  font-family: "Inter";
  src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 400px auto;
  gap: 10px;
  height: 100vh;
  --background-buttons: rgb(235, 84, 222);
  --hover-button: rgb(235, 84, 222, 0.8);
  --text-buttons: white;
  --color-shadow: rgba(0, 0, 0, 0.3);
  --font-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

svg {
  height: 30px;
  width: 30px;
}

.storage-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid var(--color-shadow);
}

#new-note {
  height: 100px;
  background-color: var(--background-buttons);
  color: var(--text-buttons);
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#wrapper {
}
.card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--color-shadow);
  max-height: 120px;
}

.title {
  margin: 0;
  font-size: 1.5rem;
}

.content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--font-color);
}

.date {
  text-align: right;
  color: var(--font-color);
}

.input-container {
  display: flex;
  flex-direction: column;
}

.title-and-button {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  height: 100px;
  display: flex;
  gap: 10px;
}

#input-title {
  font-size: 3rem;
  border: none;
  outline: none;
}

#save,
#delete {
  height: 100px;
  width: 100px;
  background-color: var(--background-buttons);
  border-radius: 10px;
  border: none;
  color: var(--text-buttons);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#save:hover,
#delete:hover,
#new-note:hover {
  background-color: var(--hover-button);
  cursor: pointer;
}

#input-content {
  margin: 10px;
  border: none;
  width: 95%;
  height: 80%;
  font-size: 1.5rem;
  outline: none;
}

@media only screen and (max-width: 600px) {
}
