@font-face {
  font-family: "Inter";
  src: url("font/Inter-VariableFont_opsz\,wght.ttf");
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
  display: grid;
  grid-template-columns: 400px auto;
  gap: 1rem;
  height: 100vh;
  --background-buttons: 235, 84, 222;
  --hover-button: rgb(235, 84, 222, 0.8);
  --text-buttons: white;
  --color-shadow: rgba(0, 0, 0, 0.3);
  --font-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

svg {
  height: 2.5rem;
  width: 2.5rem;
}

.storage-container {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;

  border-right: 1px solid var(--color-shadow);
  min-height: 0;
}

#new-note {
  font-family: Inter, sans-serif;
  margin: 1rem;
  height: 6rem;
  background-color: rgb(var(--background-buttons));
  color: var(--text-buttons);
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 0;
}

.card {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--color-shadow);
  max-height: 7rem;
  transition: all 0.2s ease-in-out;

  margin: 0.5rem 1rem 0.5rem 1rem;
}

.card:not(.selected-card) {
  cursor: pointer;
}

.card:hover,
.selected-card {
  background-color: rgba(var(--background-buttons), 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.content {
  margin: 0.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--font-color);
}

.date {
  text-align: right;
  color: var(--font-color);
  font-style: italic;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.title-and-button {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.buttons {
  height: 6rem;
  display: flex;
  gap: 1rem;
}

#input-title {
  font-size: 3rem;
  border: none;
  outline: none;
  width: 100%;
}

#save,
#delete {
  height: 6rem;
  width: 6rem;
  background-color: rgb(var(--background-buttons));
  border-radius: 10px;
  border: none;
  color: var(--text-buttons);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#save:hover,
#delete:hover,
#new-note:hover {
  background-color: var(--hover-button);
  cursor: pointer;
}

#input-content {
  margin: 1rem;
  border: none;
  width: 95%;
  height: 80%;
  font-size: 1.5rem;
  resize: none;
  outline: none;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .storage-container {
    flex-direction: column-reverse;
  }

  .title-and-button {
    flex-direction: column-reverse;
  }
  .buttons,
  #save,
  #delete {
    height: 3rem;
  }
  #new-note {
    margin: 0.5rem 1rem 0 1rem;
    height: 3rem;
  }
  #save,
  #delete {
    width: 45vw;
  }
  #wrapper {
    max-height: 30vh;
  }
}
